<div class="p-4">
    <h4 class="fst-italic">Catégories</h4>
    <ol class="list-unstyled mb-0">
        <li><a href="#" class="text-decoration-none">Tutoriel PHP</a></li>
        <li><a href="#" class="text-decoration-none">Tutoriel Symfony</a></li>
    </ol>
</div>